<h1>GPT single message</h1>
<div>
  <form action="/process_single_message">
    <label for="message">Your message:</label>
    <input type="text" id="message" name="message"/>
    <button>Send!</button>
  </form>
</div>
