<h1>Should I take an umbrella?</h1>
<div>
  <form action="/process_umbrella">
    <label for="location">Where are you located?</label>
    <input type="text" id="location" name="location"/>
    <button>Submit</button>
  </form>
</div>
